1/Chat with local LLMs using n8n and Ollama.json
{
  "name": "Chat with local LLMs using n8n and Ollama",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -352,
        -96
      ],
      "id": "560cc6a0-4dc5-489e-9a82-e111cc3feaf4",
      "name": "When chat message received",
      "webhookId": "696aa326-df21-4cb6-a57e-b34fd0c859b2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=$json.body.chatInput",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "3bb029c1-3b06-4e87-8b3a-a872bf90e09e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen2:0.5b",
        "options": {
          "keepAlive": "5m"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        128,
        176
      ],
      "id": "e2352d26-2cd8-4fdf-9baf-85ff220bd110",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "ypuIM570nnScjTsW",
          "name": "Ollama local account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fc82ef08-f760-4bd6-8bab-29175e8e16a5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        112
      ],
      "id": "7d8d6fec-f998-4944-88a0-79659a47229a",
      "name": "Webhook",
      "webhookId": "fc82ef08-f760-4bd6-8bab-29175e8e16a5"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd0274b5-a24e-4c27-8f00-d1d03dde730d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f44445d9e1e8f4bcd07780e1cbc69c20066728f201f18edc7ea3bbdfd2dcec51"
  },
  "id": "ozunQuwhm9mBgqBy",
  "tags": []
}