1/Развертывание и настройка prod-ready инстанса.json
{
  "name": "Развертывание и настройка prod-ready инстанса",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -32,
        -112
      ],
      "id": "3bb029c1-3b06-4e87-8b3a-a872bf90e09e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen2:0.5b",
        "options": {
          "keepAlive": "5m"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -48,
        16
      ],
      "id": "e2352d26-2cd8-4fdf-9baf-85ff220bd110",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "ypuIM570nnScjTsW",
          "name": "Ollama local account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fc82ef08-f760-4bd6-8bab-29175e8e16a5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        112
      ],
      "id": "7d8d6fec-f998-4944-88a0-79659a47229a",
      "name": "Webhook",
      "webhookId": "fc82ef08-f760-4bd6-8bab-29175e8e16a5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "= { \"answer\":  \"{{ $json.output }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        320,
        -96
      ],
      "id": "4b17841a-89af-4ac7-9563-9f843f1c56e8",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6588cbfc-d04c-45a6-9ff6-9fbb219dfab7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f44445d9e1e8f4bcd07780e1cbc69c20066728f201f18edc7ea3bbdfd2dcec51"
  },
  "id": "ozunQuwhm9mBgqBy",
  "tags": []
}